[Unit]
Description=Apache Zookeeper
Requires=network.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/vagrant/zookeeper-3.4.14
ExecStart=/home/vagrant/zookeeper-3.4.14/bin/zkServer.sh start-foreground
ExecStop=/home/vagrant/zookeeper-3.4.14/bin/zkServer.sh stop
Restart=on-failure
User=vagrant
Group=vagrant
RestartSec=10

[Install]
WantedBy=multi-user.target

